<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="IndexController as vm">

<head>
    <title>Music Database Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- build:css assets/css/app.css -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/photon.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- endbuild -->
</head>

<body>
    <!-- Wrap your entire app inside .window -->
    <div class="window">
        <header class="toolbar toolbar-header">
            <h1 class="title">Music Database Manager</h1>

            <div class="toolbar-actions">
                <!-- TODO: select All Music library item -->
                <button class="btn btn-default">
                  <span class="fa fa-home"></span>
                </button>

                <div class="btn-group">
                    <!-- TODO: set database connection to localhost -->
                    <button class="btn btn-default active">
                      <span class="fa fa-folder"></span>
                    </button>
                    <!-- TODO: set database connection to remote -->
                    <button class="btn btn-default">
                      <span class="fa fa-cloud"></span>
                    </button>
                </div>

                <!-- TODO: add dynamic filter dropdown or remove -->
                <button class="btn btn-default">
                    <span class="fa fa-filter icon-text"></span>
                    Filters
                </button>

                <input class="btn btn-default btn-dropdown pull-right js-popover-trigger fa-placholder" placeholder="&#xF002;  Search">
                <span class="fa fa-"></span>
                </button>
            </div>
        </header>

        <!-- Your app's content goes inside .window-content -->
        <div class="window-content">
            <div class="pane-group">
                <!-- TODO: Add .active class to appropriate sidebar element -->
                <div class="pane pane-sidebar sidebar">
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Library</h5>

                        <a class="nav-group-item" ng-click="vm.showIndex('Library-Default.sql')">
                            <span class="fa fa-list"></span>
                            &nbsp;All Music
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Library-Band.sql')">
                            <span class="fa fa-user"></span>
                            &nbsp;Band
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Library-Product.sql')">
                            <span class="fa fa-circle"></span>
                            &nbsp;Product
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Library-Song.sql')">
                            <span class="fa fa-quote-right"></span>
                            &nbsp;Song
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Library-Writer.sql')">
                            <span class="fa fa-pencil"></span>
                            &nbsp;Writer
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Library-Year.sql')">
                            <!-- TODO: Library-Year.sql -->
                            <span class="fa fa-calendar"></span>
                            &nbsp;Year
                        </a>
                    </nav>

                    <nav class="nav-group">
                        <h5 class="nav-group-title">Statistics</h5>
                        <a class="nav-group-item" ng-click="vm.showIndex('Statistics-Band.sql')">
                            <span class="fa fa-users"></span>
                            &nbsp;Band
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Statistics-Decade.sql')">
                            <span class="fa fa-music"></span>
                            &nbsp;Decade
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Statistics-Genre.sql')">
                            <span class="fa fa-music"></span>
                            &nbsp;Genre
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Statistics-ProductType.sql')">
                            <span class="fa fa-music"></span>
                            &nbsp;Product Type
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('Statistics-Writer.sql')">
                            <span class="fa fa-music"></span>
                            &nbsp;Writer
                        </a>
                    </nav>
                    <nav class="nav-group">
                        <h5 class="nav-group-title">Playlists</h5>
                        <a class="nav-group-item" ng-click="vm.showIndex('List-1980s.sql')">
                            <span class="fa fa-spin fa-cog"></span> &nbsp;1980s
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('List-Comedy.sql')">
                            <span class="fa fa-spin fa-cog"></span> &nbsp;Comedy
                        </a>
                        <a class="nav-group-item" ng-click="vm.showIndex('List-Poison.sql')">
                            <span class="fa fa-spin fa-cog"></span> &nbsp;Poison
                        </a>
                    </nav>
                </div>
                <div class="pane">
                    <ng-view></ng-view>
                </div>
            </div>
        </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <!-- endbuild -->
    <!-- build:app scripts/app.js -->
    <script src="./scripts/app.js"></script>
    <script src="./scripts/databaseService.js"></script>
    <script src="./scripts/indexController.js"></script>
    <script src="./scripts/resultsController.js"></script>
    <!-- endbuild -->
    <script>
        document.addEventListener("keydown", function(e) {
            if (e.which === 123) {
                require('remote').getCurrentWindow().toggleDevTools();
            } else if (e.which === 116) {
                location.reload();
            }
        });
    </script>
</body>

</html>
