.toolbar.toolbar-header {
    -webkit-app-region: drag
}
.fa-placholder {
    font-family: "FontAwesome", "Source Sans Pro";
}
.full {
    right: 0;
    left: 175px;
    position: fixed;
}

.inline-form {
    padding: 0px 0px 0px 0px !important;
}

.error {
    border:2px solid red !important;
}
